<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type='application/javascript' src="/javascripts/three.min.js"></script>
    <script type='application/javascript' src="/javascripts/map-parser.js"></script>
  </head>
  <body>
    <a onclick="location.href='/';">HOME</a>
    {{{body}}}
  </body>
</html>
