<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/font-awesome.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script type='application/javascript' src="/javascripts/jquery.min.js"></script>
    <script type='application/javascript' src="/javascripts/bootstrap.min.js"></script>
    <script type='application/javascript' src="/javascripts/bootbox.min.js"></script>
    <script type='application/javascript' src="/javascripts/three.min.js"></script>
    <script type='application/javascript' src="/javascripts/map-parser.js"></script>
</head>
<body>
<div class="top">
    <a class="fa fa-2x fa-home" title="Home" onclick="location.href='/';"></a>
    <a class="fa fa-2x fa-undo undo" title="Undo" onclick="undo();"></a>
    <a class="fa fa-2x fa-repeat redo" title="Redo" onclick="redo();"></a>
    <a class="fa fa-2x fa-search-plus zoomin" title="Zoom In" onclick="zoomIn();"></a>
    <a class="fa fa-2x fa-search-minus zoomout" title="Zoom Out" onclick="zoomOut();"></a>
    <a class="fa fa-2x fa-info" title="Show summary" onclick="presentInfo();"></a>
    <a class="fa save" title="Save current map to memory" onclick="save();">
        <span class="fa fa-2x fa-long-arrow-right icon-pre-save"></span>
        <span class="fa fa-2x fa-floppy-o"></span>
    </a>
    <a class="fa load" title="Load current map from memory" data-disabled="false" onclick="load();">
        <span class="fa fa-2x fa-floppy-o"></span>
        <span class="fa fa-2x fa-long-arrow-right icon-post-load"></span>
    </a>
    <a class="fa fa-2x fa-cloud-download download" title="Export map data" onclick="exportData();"></a>
    <a class="fa fa-2x fa-cloud-upload upload" title="Import map data" data-disabled="false" onclick="importData();"></a>
</div>
{{{body}}}
</body>
</html>
