<h1>Choose map file (*.osm)</h1>
<form action="preview" method="post" enctype="multipart/form-data">
    <input type="file" name="map" /><br/>
    <input type="submit" value="Preview and adjust"/>
</form>
