body {
    padding: 1em;
}

a {
    display: block;
    margin: 0.5em 0;
    color: #00b7ff;
}

a.inline {
    display: inline-block;
}

a.positive {
    font-weight: bold;
    color: #349723;
}

a.negative {
    font-weight: bold;
    color: #aaaaaa;
}

.underline {
    text-decoration: underline;
}

.type-icon {
    margin-right: 1em;
}

.square {
    margin-right: 1em;
}

.top {
    padding: 0 0.5em;
}

.top > a {
    padding: 0 1em;
}

.top > a:hover {
    text-decoration: none;
}

.top a.undo, .top a.redo, .top a.zoomin, .top a.zoomout {
    color: #cccccc;
}

.top a.undo[data-disabled="false"], .top a.redo[data-disabled="false"], .top a.zoomin[data-disabled="false"], .top a.zoomout[data-disabled="false"] {
    color: #00b7ff;
}
