body {
    padding: 1em;
    margin-top: 58px;
    margin-bottom: 102px;
}

a {
    display: block;
    margin: 0.5em 0;
    color: #00b7ff;
}

a.inline {
    display: inline-block;
}

a.positive {
    font-weight: bold;
    color: #349723;
}

a.negative {
    font-weight: bold;
    color: #aaaaaa;
}

.underline {
    text-decoration: underline;
}

.type-icon {
    margin-right: 1em;
}

.square {
    margin-right: 1em;
}

.top {
    padding: 0 0.5em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    background: white;
    border-bottom: 1px solid black;
    overflow: hidden;
}

.top > a {
    padding: 0 1em;
}

.top > a:hover {
    text-decoration: none;
}

.top a.undo, .top a.redo, .top a.zoomin, .top a.zoomout, .top a.save, .top a.load, .top a.upload, .top a.download {
    color: #cccccc;
}

.top a.undo[data-disabled="false"], .top a.redo[data-disabled="false"], .top a.zoomin[data-disabled="false"], .top a.zoomout[data-disabled="false"], .top a.save[data-disabled="false"], .top a.load[data-disabled="false"] , .top a.upload[data-disabled="false"], .top a.download[data-disabled="false"] {
    color: #00b7ff;
}

.bottom {
    padding: 0 0.5em;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: white;
    border-top: 1px solid black;
    overflow-y: scroll;
    overflow-x: hidden;
}

.green {
    color: darkgreen;
}

.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.icon-pre-save {
    margin-right: -0.4em;
    transform: scaleX(0.5);
}

.icon-post-load {
    margin-left: -0.35em;
    transform: scaleX(0.5);
}

.bootbox-body textarea {
    width: 100%;
    height: 15em;
}
